{% extends 'index.html' %}
{% block content %}
<div class="jumbotron">
    <h1>Vocal Articles</h1>
    <p class="slogan">Find various Vocal articles !</p>
</div>

<div class="row" style="margin-left: 50px; margin-right: 50px;">
    {% for res in res['hits']['hits'] %}
    <div class="col-md-4">
        <ul class="list-group vocal_articles" style="margin-bottom: 10px;">
            <li class="list-group-item"><p style="font-size: 20px;"><b>{{res['_source']['title']}}</b></p></li>
            <li class="list-group-item">Duration: {{res['_source']['author']}}</li>
            <li class="list-group-item">Upload Date: {{res['_source']['uploadDate']}}</li>
            <li class="list-group-item"><img src="{{res['_source']['thumbnail']}}" width="370" /></li>
            <li class="list-group-item"><p><a class="btn btn-default" href="{{res['_source']['url']}}">Read the article! 📝&raquo;</a></p></li>
        </ul>
    </div>
    {% endfor %}
</div>

{% endblock %}